{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{article.title}}</h1>
        <p class="article-meta">By  <strong>{{article.author.firstName}}</strong>, on <strong>{{article.addedAtFormatted}}</strong></p>
    </header>

    <div class="article-info">
        <b>Word(s) in this article:</b> {{article.wordCount}}
        <br>
        <b>Lix:</b> {{article.lix}}
    </div>

    <div class="article-description">
        <h3><u>{{article.headline}}</u></h3>
        {{article.content}}
    </div>

    {{#owner}}
        <br>
        <br>
        {{#errMsg}}
            <p>{{errMsg}}</p>
        {{/errMsg}}
        <form method="post">
            <input type="submit" value="Delete">
        </form>
    {{/owner}}
</section>

{{> submenu-footer}}