{{> header}}

<h1>Create New Article</h1>

<form name="new-article-form" method="post">
    <label>
        Title:
        <input name="title" type="text" required>
    </label>
    <br>
    <br>

    <label>
        Headline:
        <input name="headline" type="text" required>
    </label>
    <br>
    <br>

    <label>
        Content:
        <br>
        <textarea name="content" rows="5"></textarea>
    </label>
    <br>
    <br>

    {{#errMsg}}
        <p>{{errMsg}}</p>
    {{/errMsg}}
    <input type="submit" value="Create">
</form>

{{> submenu-footer}}