{{> header}}

<h1>Edit Article</h1>

<form name="new-article-form" method="post">
    <label>
        Title:
        <input name="newTitle" type="text" value="{{article.title}}" required>
    </label>
    <br>
    <br>

    <label>
        Headline:
        <input name="newHeadline" type="text" value="{{article.headline}}" required>
    </label>
    <br>
    <br>

    <label>
        Content:
        <br>
        <textarea name="newContent" rows="15" cols="40">{{article.content}}</textarea>
    </label>
    <br>
    <br>

    {{#errMsg}}
        <p>{{errMsg}}</p>
    {{/errMsg}}
    <input type="submit" value="Edit">
</form>

{{> submenu-footer}}