{{> header}}

{{#user}}
    <article>
        <b>Name:</b> {{firstName}} {{lastName}} <br>

        <b>Description:</b>
        {{#description}}
            {{description}}
        {{/description}}
        {{^description}}
            No description.
        {{/description}}
    </article>
    <article class="articles">
        {{#articles}}
            <section>
                <h2 class="article-title">
                    <a href="/article/{{slug}}">{{title}} - {{headline}}</a>
                </h2>
            </section>
        {{/articles}}
    </article>
    <br>
{{/user}}

{{> submenu-footer}}