{{> header}}

<h1>{{cfg.title}}</h1>
<h2>{{cfg.desc}}</h2>

<div class="articles">
    {{#articles}}
        <section>
            <header class="article-header">
                <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
                <div class="article-meta">By  <strong>{{author.firstName}}</strong>, on <strong>{{addedAtFormatted}}</strong></div>
            </header>
            <div class="article-description">
                {{headline}}
            </div>
        </section>
    {{/articles}}
</div>

<br>
<h3><a href="article/new">Create Article</a></h3>
<h3><a href="users">Users</a></h3>
<h3><a href="sequences">Sequences</a></h3>

{{> footer}}