<style>
    form > label {
        display: block;
        margin-bottom: 5px;
    }
</style>

<h1>Math-table Calculator</h1>

<form action="" name="sequences-form" method="post">

    <label for="tableNumber">Enter a number - ex. 3 for the 3 math-table: </label>
    <input name="tableNumber" type="number">

    <br><br>

    <label>How much it should count to - ex. 5 for the 5 first numbers in the math-table: </label>
    <input name="tablePrintAmount" type="number">

    <br><br>

    {{#isValid}}
        <br>

        {{#first}}
            <b>Calculating the first {{tablePrintAmount}} values for the {{tableNumber}}-math-table.</b>
            <br>
            <b>Result: {{result}}</b>
        {{/first}}
        {{^first}}
            <b>Invalid input:</b> {{second}}
        {{/first}}

        <br>
    {{/isValid}}

    <br>
    <input type="submit" value="Calculate" />
</form>

<h3><a href="">Reset</a></h3>

{{> submenu-footer}}