{{> header}}

<style>
    .user-article {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<h1>Users</h1>

<section class="users">
    {{#users}}
        <article class="user-article">
            <b>Name:</b> <a href="/profile/{{username}}">{{firstName}} {{lastName}}</a><br>

            <b>Description:</b>
            {{#description}}
                {{description}}
            {{/description}}
            {{^description}}
                No description.
            {{/description}}
        </article>
    {{/users}}
</section>

{{> submenu-footer}}